html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}

#main-title {
  font-size: 55px;
  font-weight: bold;
  color: #000000;
}

.text-style {
  font-size: 20px;
  color: #555;
}

.home-container {
  margin-top: 100px;
  background-color: #fffcfc;
  padding: 25px;
}

.link-sin-subrayado {
  text-decoration: none;
  color: inherit;
}

.admin_container_grid {
  display: grid;
  grid-template:
    "sidebar main" /
    256px auto;
}
.admin_container_grid aside {
  grid-area: sidebar;
}
.admin_container_grid main {
  grid-area: main;
}
/* grid grid grid-cols-[256px_auto] grid-rows-[64px_auto] */
.sidebar_icon_size {
  width: 24px;
  height: 24px;
}